body {
    position: relative;
    margin: 0px;
    font-family: 'Ubuntu', Times;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 16px;
}

.fa-chess-board {
    font-size: 24px;
}

.fa-magnifying-glass {
    font-weight: bolder;
}

.master-container {
    display: grid;
    grid-template-areas: "aside header"
                         "aside content";
    grid-template-columns: 1fr 5fr;
}

aside, header, main {
    padding: 16px;
}

/* - - - ASIDE - - - */

aside {
    grid-area: aside;
    background-color: #222831;
    color: #f2f2f2;
    font-size: 20px;
    padding-left: 32px;
    display: grid;
    justify-content: start;
    align-content: start;
    grid-gap: 2px;
}

aside .aside-item {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr;
    justify-items: start;
    align-items: center;
    grid-gap: 16px;
}

/* - - - HEADER - - - */

header {
    grid-area: header;
    background-color: #f96d00;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    padding: 12px 12px;
}

.header-item {
    display: grid;
    align-items: center;
}

.header-1 {
    margin-left: 32px;
    width: 80%;
}

a.search-btn {
    margin-right: 8px;
}

button.search-btn, button.notification-btn {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input.search-bar, input:focus.search-bar {
    height: 20px;
    width: 500px;
    border-radius: 16px;
    background-color: #f2f2f2;
    border: none;
    outline: #f2f2f2;
    padding: 8px 23px 8px 30px;
    margin: 4px;
    line-height: 8px;
}

.header-2 {
    margin-right: 32px;
    padding-right: 32px;
    display: flex;
    justify-content:flex-end;
    gap: 24px;
}

.header-3, .header-4 {
    margin: 16px auto;
}

.header-3 {
    margin-left: 32px;
    width: 50%;
    display: grid;
    column-gap: 16px;
    justify-content: start;
    grid-template-columns: 1fr 9fr;
}

.header-3 .header-logo {
    grid-row: span 2;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

#profile {
    width: 4em;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

div.welcome {
    display: grid;
    align-content: center;
}

p.welcome {
    align-items: end;
    font-weight: bolder;
    margin-bottom: 0;
}

span.author {
    font-size: 24px;
    align-items: center;
}


ul, a, a:active, a:hover, a:visited {
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

.header-4 {
    margin-right: 32px;
}

.header-4 .header-links {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
}

.header-4 .header-links button {
    width: 7em;
    height: 40px;
    border-radius: 20px;
    background-color: #222831;
    outline: #222831;
    border: none;
    color:#f2f2f2;
    font-size: 16px;
}

/* - - - CONTENT - - - */

main {
    grid-area: content;
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main-wrapper {
    border: 1px black solid;
    column-gap: 16px;
    row-gap: 16px;
}

.main-wrapper.left{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4em repeat(3, 1fr);
    justify-items: left;
    margin-right: 16px;
}

.main-item.left {
    border: 1px black solid;
    border-radius: 1em;
    border-left: 1em #f96d00 solid;
    width: 20em;
    padding: 16px;    
    height: auto;
    display: grid;
    grid-template-rows: 1fr min-content;
    justify-content: left;
}

div.main-btns {
    width: 20em;
    display: flex;
    justify-content: end;
    gap: 16px;
}

.main-wrapper.left .title {
    margin-bottom: 0;
    grid-column-end: span 2;
    justify-self: left;
    justify-content: left;
}

.main-wrapper.left .title ,
.main-wrapper.right .title {
    margin-bottom: 0;
    justify-self: left;
    justify-content: left;
    border: none;
    color: #222831;
}

.main-wrapper.right .container {
    border: 1px black solid;
    border-radius: 1em;
}

.main-wrapper.right {
    display: grid;
    width: 100%;
    grid-template-rows: min-content max-content min-content max-content;
    justify-items: center;
}

.main-item.right {
    border: 1px black solid;
    border-radius: 1em;
    padding: 16px;
    height: auto;
    display: grid;
    grid-template-rows: 1fr min-content;
    justify-content: left;
}

.main-item.container .right {
    border: 1px black solid;
    width: 100%;
    display: grid;
    justify-content: center;
}

.main-item.container .item-content.trending {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
}